html {
    margin: 0px;
}
body {
    margin: 0px;
    background-color: rgb(29, 32, 59);
    overflow: hidden;
}
#viewport {
    display: block;
    border: 1px solid whitesmoke;
}
.grabbable {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
.grabbable:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}