body {
    background-color: #3a3a3a;
    overflow: hidden;
    font: 16px 'Trebuchet MS';
    color: whitesmoke;
}
a {
    text-decoration: none;
}
.button {
    background-color: #4f4f4f;
    color: whitesmoke;
    display: flex;
    margin: auto;
    justify-content: center;
    width: 200px;
    padding: 20px 20px 20px 20px;
}
.button:hover {
    background-color: #525252;
}