body {
    background-color: rgb(29, 32, 59);
    overflow: hidden;
    font: 16px 'Trebuchet MS';
    color: whitesmoke;
}
a {
    text-decoration: none;
}
.button {
    background-color: rgb(48, 53, 97);
    color: whitesmoke;
    display: flex;
    margin: auto;
    justify-content: center;
    width: 200px;
    padding: 20px 20px 20px 20px;
}
.button:hover {
    background-color: rgb(57, 63, 117);
}
.button:active {
    background-color: rgb(38, 43, 87);
    color: gray;
}